{% block add_customer %}
  <h1>Add Customer</h1>

  <form method='post' action='/customer_added'>
    Name: <input type='text' name='customerName' autofocus='autofocus'>
    <input type='submit' value='Ok'>
  </form>
{% endblock %}