{% block ownerAddedFarm %}
  <h1>Owner Added Farm</h1>
  <p>{{farmName}} has been added to&nbsp;{{ownerName}}.
  <form action="/ownerList" method="post">
    <input type="submit" value="Owner List">
  </form>  
{% endblock %}